<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="UIFile" fileName="logs/ui.log">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level [%logger] - %msg%n"/>
        </File>
        <File name="APIFile" fileName="logs/api.log">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level [%logger] - %msg%n"/>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level [%logger] - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="ru.kupibilet.ui" level="info" additivity="false">
            <AppenderRef ref="UIFile"/>
        </Logger>

        <Logger name="ru.kupibilet.api" level="info" additivity="false">
            <AppenderRef ref="APIFile"/>
        </Logger>

        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
